# Add(+)
* The add fuction use to add two or more elements of list

In [3]:
L1 = [2+3],[1+2+3],5
print(L1)

([5], [6], 5)

# mul (*)
* the mul fuction use to multiple two or more elements of list

In [13]:
l1 = [2*3,4*5,8*9]
print(l1)

[6, 20, 72]

# del
* the del function is used to delete any data in specific position of list.

In [11]:
L2 = [0,1,2,3,4,5,6,7,8,9,10]
del L2[5]
print(L2)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

# eq (==)
* eq is a predifined function which is used to compair the elements or data of list

In [7]:
12==12

True

In [8]:
'A1'=='A2'

False

# len
* len function is used to determine the length of object of list

In [9]:
L3 = [1,2,3,4,5,6,7,8,9,10,11]
print(L3)
print(len(L3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
11

# append
* The append function is used to insert the elementor data at the last of list

In [22]:
L4 = [ 1,2,8,9,6,4,7,0,10]
L4.append(11)
print(L4)

[1, 2, 8, 9, 6, 4, 7, 0, 10, 11]

# clear 
* The clear fuction is used to remove all the data from the list

In [25]:
L5 = [ 'A','B','C','D']
L5.clear()
print(L5)

[]

# copy 
* The copy function is used to copy the given list.

In [28]:
L6 = [10,20,30,40,50,60,70,80,90,100]
L6.copy()

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# count
* The count fuction is used to Count the number of element in the list.

In [34]:
L7 = [7]
L7.count(7)

1

# insert 
* insert fuction is used to insert the data or element in specific position of list.

In [37]:
L8 = [ 11,22,33,44,55,66,88]
L8.insert(6,77)
print(L8)

[11, 22, 33, 44, 55, 66, 77, 88]

# remove 
* The remove fuction is used to remove the data or element  of the list.

In [41]:
L9 = [ 1,2,3,4,5,6]
L9.remove(1)
print(L9)

[2, 3, 4, 5, 6]

# sort 
* sort funtion is used to arrenge the data or element of a list (ascending or descending)

In [44]:
# ascending
L10 = [ 120,10,50,48,100,1,3,88]
L10.sort()
print(L10)

[1, 3, 10, 48, 50, 88, 100, 120]

In [48]:
# descending
L10.sort(reverse = True)
print(L10)

[120, 100, 88, 50, 48, 10, 3, 1]