# Set
*Set  are unordered collections of unique elements. They are similar to lists in terms of storing elements, but unlike lists, sets cannot contain duplicate entries.

In [2]:
Set = {1,2,3,4,5,6,7,8,9,10 }
print(type(Set))
print(Set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# eq (==)
* The eq function is use to compair the sets.

In [7]:
S1 = {1,2,3,4,5,6 }
S2 = {'a'}
S3 = {'a'}
S2==S3

True

# add(+)
* The add fuction is use to add elements in sets.

In [11]:
S4 = {1,2,3,4}
S4.add(5)
print(S4)

{1, 2, 3, 4, 5}

# clear
* The clear function is ude to remove all element from the set.

In [13]:
S5 = {1,2,3,4,5,6,7,8}
S5.clear()
print(S5)

set()

# copy 
* The copy function use to capy the set.

In [14]:
S6 = {'A','B','C','D'}
print(S6)
S6.copy()

{'B', 'A', 'C', 'D'}

{'A', 'B', 'C', 'D'}

# difference
* The difference function is use to calculte the diffrece between sets. it represent the only first set.

In [15]:
S8 = {1,2,3,4}
S9 = {2,4,6,8}
difference = S8 - S9
print(difference)

{1, 3}

In [17]:
difference1 = S8.difference(S9)
print(difference1)

{1, 3}

# difference_update
* The difference_update is use to remove the element that are already present in another set.

In [19]:
S10 = {'A','B','C','D'}
S11 = {'a','B','c','D'}
S10.difference_update(S11)
print(S10)

{'C', 'A'}

# discard
* The discard function is use remove element of the set.

In [21]:
S12 = {10,20,30,40,50,60}
S12.discard(40)
print(S12)
S12

{50, 20, 10, 60, 30}

{10, 20, 30, 50, 60}

In [25]:
s12 = {1,2,3,4,5,6,7}
s12.discard(4)
print(s12)
s12

{1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}

# intersection
* Return the intersection of two sets as a new set.

In [26]:
S13 = {1,2,3,4,5,6}
S14 = {2,4,6,8,10,12}
S13.intersection(S14)

{2, 4, 6}

# intersection_update
*  The intersection_update is use to remove the element that are not present in another set.

In [31]:
S15 = {'A','B','C','D'}
S16 = {'A','b','B','c'}
S15.intersection_update(S16)
S15

{'A', 'B'}

# pop 
* It Removes and returns an arbitrary element from the set.

In [35]:
S17 = {11,22,33,44,55,66,77}
S17.pop()
S17

{11, 22, 44, 55, 66, 77}

# union 
* Return the union of sets as a new set.

In [38]:
S18 = {1,2,3,4,5,6,7,8,9,10,11}
S19 = {1,3,5,7,9,11,13,15,17,19}
S18.union(S19)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19}