In [2]:
t1 = ('a','b','c','d')
print(t1)
type(t1)

('a', 'b', 'c', 'd')

tuple

# add
* The add fuction is used to add to or more element of tuple

In [4]:
T1 = (1,2,3,4,5)
T2 = ('a','b','c','d')
print(T1+T2)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

# mul (*)
* The mul function is used to multiple the element of tuple

In [10]:
T6 = (3*6,8*9)
print(T6)

(18, 72)

# eq (==)
* The eq fuction is used to compair the tuple

In [7]:
T3 = ('a')
T4 = ('b')
T5 = ('a')

print(T3==T4)
print(T3==T5)

False
True

# len 
* the len fucntion is use to detemine the lenght of element of tuple

In [16]:
T8 = (1,2,3,4)
print(T8)
print(len(T8))

(1, 2, 3, 4)
4